html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.foodImage {
  width: 100%;
  height: 550px;
}

.imageText {
  position: absolute;
  color: white;
  font-size: 50px;
  z-index: 100;
  left: 1000px;
  top: 250px;
}

#signInButton {
  position: absolute;
  z-index: 100;
  left: 1400px;
  top: 30px;
}
#logOutButton {
  position: absolute;
  z-index: 100;
  left: 1410px;
  top: 30px;
}
.landingFoodContainer {
  margin-left: 50px;
  padding-top: 10px;
  left: 100px;
}
.signInText {
  position: absolute;
  left: 500px;
  top: 1350px;
  padding-bottom: 50px;
}
.foodNearYou {
  padding-bottom: 5px;
}
.userInfo {
  position: relative;
  margin-top: 100px;
  clear: left;
  height: auto;
  z-index: 0;
  text-align: center;
}
.userIcon {
  position: absolute;
  z-index: 100;
  left: 1350px;
  top: 30px;
}
.homeButton {
  position: absolute;
  z-index: 100;
  left: 1330px;
  top: 30px;
}
.homePage {
  margin-top: 100px;
}

.wikipediaButton {
  position: relative;
  left: 75px;
}

.wikipediaParagraph {
  margin: 40px 150px;
}

.wikipediaTitle {
  margin-top: 30px;
  margin-left: 150px;
}
