.foodImage {
  width: 100%;
  height: 550px;
}

.imageText {
  position: absolute;
  color: white;
  font-size: 50px;
  z-index: 100;
  left: 1000px;
  top: 250px;
}

#signInButton {
  position: absolute;
  z-index: 100;
  left: 1310px;
  top: 30px;
}

#signUpButton {
  position: absolute;
  z-index: 100;
  left: 1400px;
  top: 30px;
}

.landingFoodContainer {
  padding-top: 10px;
  position: absolute;
  left: 100px;
}
.signInText {
  position: absolute;
  left: 500px;
  top: 1250px;
}
.foodNearYou {
  padding-bottom: 5px;
}
